.gradient-custom {
  /* fallback for old browsers */
  background: #efede7;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(174, 174, 171), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(227, 220, 219), rgb(227, 220, 219))
  }
